.modal-body container {
	width: 300px;
	margin: 0 auto;
}

.input-form {
	display: flex;
	flex-direction: column-reverse;
	margin: 1.2em 0;
}

input,
label {
	transition: 0.4s case;
}

label {
	padding-left: 0px;
	transform: translate(4px, -14px) scale(1.02);
	cursor: text;
	transform-origin: left top;
	color: #757575;
	position: absolute;
}

input:focus,
input:not(:placeholder-shown) {
	border-bottom: 1px solid #008983;
}

input:not(:placeholder-shown)~label,
input:focus~label {
	transform: translate(6px, -30px) scale(0.8);
	padding-left: 0px;
	color: black;
}

input {
	font-size: 14px;
	padding: 25px 10px 10px 10px;
	border: none;
	border-bottom: 1px solid #14cfc6;
	outline: none;
	/* background-color: #f2f2f2; */
	border-radius: 5px 5px 0px 0px;
}

input::placeholder {
	opacity: 0;
}



/* custom */
.custom-control.material-checkbox {
	--color: #26a69a;
}

.custom-control.material-checkbox .material-control-input {
	display: none;
}

.custom-control.material-checkbox .material-control-input:checked~.material-control-indicator {
	border-color: var(--color);
	transform: rotateZ(45deg) translate(1px, -5px);
	width: 10px;
	border-top: 0px solid #fff;
	border-left: 0px solid #fff;
}

.custom-control.material-checkbox .material-control-indicator {
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #aaa;
	transition: 0.3s;
}
